# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/compiler.xml
/dataSources.xml
/e-commerce-app.iml
/encodings.xml
/jarRepositories.xml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/sqldialects.xml
/uiDesigner.xml
